myenv/pyvenv.cfg
myenv/bin/
myenv/lib/python3.11/
myenv/share/man/man1/ttx.1
AOC20??/PYTHON/*.TXT
AOC2018/PYTHON/day24old.py
AOC2018/PYTHON/test.py
AOC2018/PYTHON/DAY16.PY
AOC2018/PYTHON/DAY23.PY
AOC2019/PYTHON/DAY21.PY
AOC2020/PYTHON/DAY23A.PY
AOC2020/PYTHON/DAY23B.PY
AOC2020/PYTHON/DAY24A.PY
AOC2020/PYTHON/DAY24B.PY
AOC2020/PYTHON/DAY25.PY
AOC2021/PYTHON/DAY15.PY
AOC2021/PYTHON/DAY21.PY
keep
keep2
AOC2018/PYTHON/DAY16.PY
AOC2021/PYTHON/DAY23.PY
AOC2018/PYTHON/DAY16.PY
AOC2018/PYTHON/DAY16.PY
AOC2018/PYTHON/DAY16.PY
AOC2018/PYTHON/DAY16.PY
AOC2018/PYTHON/DAY16.PY
AOC2024/PYTHON/KEEPB
AOC2024/PYTHON/KEEPB2
AOC2024/PYTHON/KEEPB3
AOC2024/PYTHON/keepc
AOC2024/PYTHON/test.py
AOC2024/PYTHON/testpyvis.py
